langchain
langchain-core
langchain-community
pypdf
pymupdf
langchain-unstructured
unstructured
openpyxl
pandas
msoffcrypto-tool
docx
python-docx 
lxml
langchain-text-splitters
sentence-transformers
faiss-cpu
chromadb
langchain-openai
python-dotenv